NODE_ENV=development
DB_CONNECTION_URL=
PORT=
PUBLIC_API_URL=
ACCESS_TOKEN_SECRET_KEY=
REFRESH_TOKEN_SECRET_KEY=

EMAIL_SENDER_NAME=
EMAIL_SENDER_MAIL=
EMAIL_SENDER_PASSWORD=

CORS_ORIGIN=http://localhost:3000,

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=

GOOGLE_CLIENT_ID=

REDIS_URL=redis://localhost:6379

